@import "../base/mixins";
@import "../layout/layout";
.home {
  @include margin(7.5rem, 0, 7.5rem, 0);
  text-align: left;
  &-container {
    @extend%container;
    @include gridCols(2);
    @media screen and (max-width: 768px) {
      @include gridCols(1);
      .home-data {
        order: 2;
        text-align: center;
      }
      .home-description {
        width: 100%;
      }
    }
  }
  &-title {
    font-size: var(--fs-big-text);
    @include margin(0, 0, 2rem, 0);
  }
  &-description {
    @include margin(0, 0, 2.5rem, 0);
    @include charactersWidth(32);
  }
}
