@import "../base/mixins";
@import "../layout/layout";
.security {
  @include margin(0, 0, 7.5rem, 0);
  text-align: left;
  &-container {
    @extend%container;
    @include gridCols(2);
    .security-data {
      align-self: center;
    }
    @media screen and (max-width: 768px) {
      @include gridCols(1);
      .security-data {
        text-align: center;
        order: 2;
      }
      .security-description {
        width: 100%;
      }
    }
  }
  &-title {
    font-size: var(--fs-h2);
    @include margin(0, 0, 2rem, 0);
  }
  &-description {
    @include margin(0, 0, 1.5rem, 0);
    @include charactersWidth(40);
  }
}
